.rek {
  white-space: pre-wrap;

  a {
    display: flex;
    flex-direction: row;
    text-decoration: underline;

    p {
      margin-left: 1rem;
    }
  }

  a:hover {
    p {
      color: $color-base;
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    margin: -1rem 0 -.5rem 1rem;
    padding: 0 0 0 1rem;
  }
}

.rek-aktualnosc {
  margin-bottom: 8rem;
}

.rek-aktualnosci-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;

  p {
    text-transform: uppercase;
    opacity: .6;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    word-wrap: normal;
    flex-grow: 2;
    text-align: right;
  }

  h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    margin-right: 2vw;
    flex-grow: 1;
  }
}