.first-section {
    margin: 0 auto 4rem auto !important;
    text-align: center;
}

//***************GRUPY

.group-title {
    margin: 4rem 4rem;
    text-align: center;
}

//***************KONTAKT

.kontakt {

    h1,
    h4 {
        text-align: center;
    }

    h5 {
        margin: 4rem 0 1rem 0;
        white-space: pre-wrap;
    }

    p {
        margin-bottom: 1rem;
        white-space: pre-wrap;
    }

    &-wraper {
        justify-items: center;
        margin-bottom: 8rem;

        @include breakpoint($mobileandtablet) {
            justify-items: start;
        }
    }
}

//***************AKTUALNOŚCI

.aktualnosci {
    column-gap: 2rem;           
    row-gap: 2rem;
    >a {
        border-radius: 20px;
        @include drop-shadow;
        overflow: hidden;
        transition: all .5s;

        >div {
            height: 70px;
            display: flex;
            justify-content: center;

            h4 {
                text-align: center;
                align-self: center;
            }
        }
        
      span {
        transition: all .5s;
          display: grid;
          height: calc(100% - 70px);
          justify-content: stretch;
          align-content: stretch;
      }


        &:hover {
            background-color:rgba(20, 89, 131, 0.5);

            span {
                opacity: .5;
            }
        }
    }
}

//***************O NAS

.onas {
    h1 {
        text-align: center;
        margin: 6rem auto 4rem auto;
    }

    p {
        margin: 2rem auto;
    }
}

.dydaktyka {
    p {
        margin-bottom: 0;
    }

    li {
        margin-top: 0;
        line-height: 1.2;
    }

    div {
        white-space: pre-wrap;
    }
}

.div-text {
    white-space: pre-wrap;

    p {
        margin: 0;
    }
}

.section-color {
    background-color: $color-base;
    min-height: 50vh;
    padding: 1rem 0 10rem 0;
    position: relative;

    h1,
    p {
        color: white;
    }
}

//***************DLA RODZICÓW
.dlarodzicow {
    h5 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    ol {
        padding-left: 0;

        p {
            margin-left: 1rem;
            margin-top: 1rem;
        }
    }

    h6 {
        margin: 3rem 0 2rem 0;
    }

    p {
        margin-top: 2rem;
    }

    ul {
        li {
            p {
                margin-top: 0;
                padding-left: 1rem;
            }
        }
    }

}

.flexP {
    display: grid;
    grid-template-columns: 140px 2fr;

    p {
        &:nth-child(odd) {
            font-weight: 700;
        }
    }
}

//***************Rekrutacja
.rekrutacja-mobile {
    @include breakpoint($all-mobile) {
        display: none;
    }

    h3 {
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 4rem;
    }

    a {
        text-decoration: underline;
        display: flex;
        margin-bottom: 2rem;

        p {
            padding-left: 1em;
        }
    }

    h5 {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

//***************STATUT

.statut,
.regulamin {
    white-space: pre-wrap;
    margin-bottom: 15rem;

    ul,
    ol {
        white-space: normal;
        margin-left: 0;
        padding-left: 0;

        li {
            padding-left: 1.2rem;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    h6 {
        font-size: $font-size;
        font-family: $font-main;
        color: $color-font;
    }

    h5 {
        color: $color-font;
        font-family: $font-main;
        font-weight: 700;
        margin-top: -1.2rem;
    }

    h4 {
        font-size: $font-size;
        font-family: $font-main;
        color: $color-font;
        margin-top: 5rem;
    }

    h2 {
        font-size: calc(#{$font-size} * 2);
    }

    h3 {
        color: $color-font;
        font-family: $font-main;
        line-height: 1.5;
        margin-bottom: 3rem;
    }
}

.statut {
    p {
        padding-left: 6rem;
        margin: -2rem 0 0 0;
        line-height: 1.7;
    }

    li {
        p {
            margin: 0;
            padding-left: 0;
        }
    }

    ul {
        li {
            margin-left: 3rem;
        }
    }

    p:last-child {
        text-align: right;
    }


}