//=====================
// GLOBAL VARIABLES
//=====================
$navbar-height: 60px;
//Base


//Grid

//Borders
$border-weight: calc(#{0.2vw} + 3px);

$thin-border: calc(#{0.2vw} + 1px);
$middle-border: calc(#{0.2vw} + 2px);
$big-border: calc(#{0.2vw} + 5px);

// Colors
$color-primary: #0F3578;
$color-secondary: #41C8CA;
$color-font: rgba(0, 0, 0, 0.8);

$color-base: rgb(255, 27, 81);
$color-base-light: rgb(255, 155, 179);
$color-base-dark: rgb(119, 16, 40);

// Fonts
$font-main: 'Open Sans',
sans-serif;

$font-header: 'Francois One',
sans-serif;

$font-special: 'Francois One',
sans-serif;

$font-size: calc(#{0.2vw} + 12px);
$font-size-headers: calc(#{0.6vw} + 8px);

// Global z-index


//==========================
// COMPONENT VARIABLES
//==========================

// Header

// Buttons