.dyd {
    @include drop-shadow;
    background-color: white;
    border-radius: 25px;
    margin: 2rem auto;
    padding: 2rem;

    @include breakpoint($all-mobile) {
        display: none;
    }

    h2,
    p {
        text-align: center;
    }

}

.dyd-header {
    margin: -2rem -2rem 0 -2rem;
    padding: 2rem;
    background-color: $color-base;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    p,
    h2,
    li {
        color: white;
        text-align: left;
    }

    &-opis {
        margin-top: 1.2rem;
    }

    &-tematyka {
        padding-top: 2rem;
        margin-bottom: 2rem;

        p {
            text-transform: uppercase;
            font-weight: 900;
        }

        li {
            font-weight: 600;
        }
    }
}

.dyd-content {
    padding: 2rem;
}

.dyd-list {
    margin: 2rem .2rem;

    p {
        text-align: left;
    }
}

.dyd-txt {
    text-align: center;
    margin: 2rem .2rem;
    white-space: pre-wrap;
}