.footer {
    @include gradient-darkblue;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.footer-image {
    margin: 5rem auto -130px auto;
    background-color: transparent;
    width: 50vw;
    max-width: 900px;
}

.footer-content {
    padding-bottom: 2rem;

    h4,
    h6,
    p {
        color: white;
        line-height: 1.5;
    }

    h6,
    h4 {
        margin-bottom: 1rem;
    }

    @include breakpoint($mobileandtablet) {
        text-align: center;

        h4 {
            margin-top: 2rem;
        }
    }

    &-right {
        text-align: right;

        @include breakpoint($mobileandtablet) {
            text-align: center;
        }
    }

    &-adds {
        text-align: center;

        P {
            margin-top: 1rem;
            color: white;
        }

        hr {
            opacity: 0.2;
        }
    }
}