.footer {
    background: rgb(53, 72, 106);
    background: linear-gradient(180deg, rgba(53, 72, 106, 1) 16%, rgba(16, 32, 60, 1) 100%);
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.footer-image {
    margin: 0px auto -130px auto;
    background-color: transparent;
    width: 50vw;
    max-width: 900px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;

    h4,
    h6,
    p {
        color: white;
        line-height: 1.5;
    }

    h6,
    h4 {
        margin-bottom: 1rem;
    }

    &-right {
        text-align: right;
    }

    &-adds {
        text-align: center;

        P {
            margin-top: 1rem;
            color: white;
        }

        hr {
            opacity: 0.2;
        }
    }
}