.footer {
    @include gradient-darkblue;
    padding-top: 6rem;
    padding-bottom: 2rem;

    p {
         &:last-child {
             margin-top: 1rem;
         }
    }
}

.footer-link {
    display: flex;
    flex-direction: column;

    a {
        text-align: right;
        &:nth-child(4),
        &:nth-child(8) {
            margin-top: 1rem;
        }
        color: white;

        &:hover {
            color: $color-secondary;
            transition: all .3s;
        }
        
        @include breakpoint($mobileandtablet) {
            text-align: center;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        
        @include breakpoint($mobileandtablet) {
            display: none;
        }
    }
}

.footer-image {
    margin: 5rem auto -130px auto;
    background-color: transparent;
    width: 50vw;
    max-width: 900px;

    @include breakpoint($mobileandtablet) {
        margin: 5rem auto -60px auto;
        width: 70vw;
    }
}

.footer-content {
    padding-bottom: 2rem;

    h4,
    h6,
    p {
        color: white;
        line-height: 1.5;
    }

    h6,
    h4 {
        margin-bottom: 1rem;
    }

    @include breakpoint($mobileandtablet) {
        text-align: center;
    }

    &-right {
        
            text-align: right;
        
        

        @include breakpoint($mobileandtablet) {
            text-align: center;
        }
    }

    &-adds {
        text-align: center;

        P {
            margin-top: 1rem;
            color: white;
        }

        hr {
            opacity: 0.2;
        }
    }
}