.layout-wraper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.h-index {
    margin-top: 16px;
}

.bg-top-img {
    height: 40vh;
    margin-bottom: -40vh;
    z-index: -2;

    @include breakpoint($mobileandtablet) {
        height: 200px;
        margin-bottom: -200px;
    }
}

.content-wrapper {
    margin-top: 26vh;

    @include breakpoint($mobileandtablet) {
        margin-top: 130px;
    }
}

.bg-top-index-img {
    margin-bottom: -77.6666vw;
    z-index: -2;

    @include breakpoint($mobileandtablet) {
        height: 200px;
        margin-bottom: -200px;

        img {
            object-position: 50% 10% !important;
            transform: scale(1.5);
        }
    }
}

.CookieConsent {
    background-color: $color-base-dark !important;

    p {
        color: white;
        font-size: $font-size-small;
    }
}