.personel-wrapper {
    grid-column-gap: 2rem;
}

.personel-card {
    @include drop-shadow;
    background-color: white;
    border-radius: 25px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    h6 {
        margin-top: 1rem;
    }

    p {
        font-size: $font-size-small;
        color: $color-base;
        opacity: 0.6;
        margin-top: 0 !important;
    }

    h6,
    p {
        text-align: center;
    }

    &-img {
        flex-grow: 1;
        width: 100%;
        object-fit: contain;
    }
}